body{
    overflow: hidden;
}

#ball{
    border-radius: 9999em;
    z-index: 1;
    background-color:#515151;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: -100px;
    left: -100px;
}

#indicator{
    border-radius: 99em;
    z-index: 0;
    border: 1px solid rgba(54, 54, 54, 0.8);
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
}

.slow{
    transition: transform 0.3s;
}


#wordwrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 200%
}

.word{
    display: inline-block;
    text-align: left;
    padding: 5em;
    height: 100vh;
    font-weight: 800;
    z-index: 1;
    box-sizing: border-box;
    width: 50%;
    opacity: 1;
    color: #555555;
    background-color: #eeeeee;
    transition: background 0.2s, border 0.2s;
    border-right: 1px solid #ccc;
}

.word.active{
    opacity: 1;
}

#introduction{
    width: 80%;
    background-color: #f3f3f3;
}


.klein{
    width: 10px;
    height: 10px;
}

