.img-container	{
	position: fixed;
	left: 0;
	top: 0;
	
	transition: left 0.5s;
}

img	{
	float: left;
	background-size: cover;
}

img:nth-child(1)	{
	background-image: url(imgs/img1.jpg);
}

img:nth-child(2)	{
	background-image: url(imgs/img2.jpg);
}

img:nth-child(3)	{
	background-image: url(imgs/img3.jpg);
}

img:nth-child(4)	{
	background-image: url(imgs/img4.jpg);
}

img:nth-child(5)	{
	background-image: url(imgs/img5.jpg);
}

img:nth-child(6)	{
	background-image: url(imgs/img6.jpg);
}

img:nth-child(7)	{
	background-image: url(imgs/img7.jpg);
}

img:nth-child(8)	{
	background-image: url(imgs/img8.jpg);
}

img:nth-child(9)	{
	background-image: url(imgs/img9.jpg);
}

img:nth-child(10)	{
	background-image: url(imgs/img10.jpg);
}

img:nth-child(11)	{
	background-image: url(imgs/img11.jpg);
}

img:nth-child(12)	{
	background-image: url(imgs/img12.jpg);
}