.selection	{
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
}

.selection-field	{
	border-color: white;
	border-width: 2px;
	background-color: rgba(255,255,255,.3);
	
	text-align: center;
	color: black;
	font-size: 30px;
	padding-top: 100px;
}

.selection-field.spacer	{
	background-color: transparent;
}

.selection-field.mouseOver	{
	background-color: rgba(255,255,255,.6);
}

.selection-field.selected	{
	background-color: rgba(255,255,255,.8);
}

.img-container	{
	position: absolute;
	left: 0;
	top: 0;

	
	transition: left 0.8s;
}

img	{
	float: left;
	background-size: cover;
	transition: width .5s;
}

img.favorite	{
	opacity: .2 !important;
}

img.delete	{
	width: 0 !important;
}

img:nth-child(1)	{
	background-image: url(imgs/img1.jpg);
}

img:nth-child(2)	{
	background-image: url(imgs/img2.jpg);
}

img:nth-child(3)	{
	background-image: url(imgs/img3.jpg);
}

img:nth-child(4)	{
	background-image: url(imgs/img4.jpg);
}

img:nth-child(5)	{
	background-image: url(imgs/img5.jpg);
}

img:nth-child(6)	{
	background-image: url(imgs/img6.jpg);
}