@charset "UTF-8";

html	{
	font-size: 10px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #000000;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.5em;

	text-rendering: optimizeLegibility;
	-webkit-font-variant-ligatures: inherit;
	-moz-font-variant-ligatures: inherit;
	font-variant-ligatures: inherit;
	
	background-color: #EEEEEE;
	
	height: 100%;
}

h2	{
	font-size: 1em;
	line-height: 100%;
	margin: 1rem 0 0 0;
	padding: 0;
	
	&:first-child	{
		margin-top: 0;
	}
}

p	{
	margin: 0;
}

#not-tracking	{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	
	width: 100%;
	height: 4rem;
	
	background-color: #ED5565;
	color: #FFFFFF;
	font-weight: 300;
	text-align: center;
	line-height: 4rem;
	text-transform: uppercase;
	
	opacity: 0;
	transition: opacity 0.4s;
	
	&.active	{
		opacity: 1;
	}
}

#text	{
	position: fixed;
	top: 6rem;
	left: 2rem;
	z-index: 1;

	opacity: 0;
	transition: opacity 0.5s;
	
	&.active	{
		opacity: 1;
	}
}

#visualisation	{
	width: 100%;
	//height: 700px;
	background-color: #FFFFFF;
}